body {
  padding-top: 50px;
  font-family: "rooney-sans", sans-serif;
  font-weight: 300;
  color: lighten($brand-brown,10%);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  font-family: "abril-display", serif;
  color: lighten($brand-brown,10%);
}

.text-white {
  color: white;
}

a {
  color: $brand-orange;
  &:hover, &.focus, &:focus {
    color: $brand-orange;
  }
}
