.navbar-brand {
  font-weight: 700;
  background: url(../i/theruesmark.svg) no-repeat 15px 50%;
  background-size: auto 25px;
  width: 200px;
}

.navbar-nav {
  margin-right: -15px;
  span.fa {
    font-size: 0.7em;
    margin-left: 3px;
  }
}

.navbar-toggle {
  color: $brand-orange;
}
